





/*##############################  DYLAND  ######################################################*/
.logo{
    width:40px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth;
}
ul, nav {
    list-style: none;
    
}
a {
	text-decoration: none;
	color: inherit;
	opacity: 0.9;
    font-weight: bold;
}
a:hover {
    opacity: 3;
    cursor: pointer;
}
a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196f3;
    font-weight: 800;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    padding: 120px 0px;
 
}

@media (max-width: 1000px){
	section{
		padding: 20px 0px;
	}
}



ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*header*/

header {
    position: relative;
    top: 0;
    left: 0;

    z-index: 2;
    width: 100%;
    height:45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 0px 10px 0 ;
    background-color: #57bfff;

}
header h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold

}

header nav {
    display: flex;
}
/*##############################  DYLAND  ######################################################*/


