





/*##############################  DYLAND  ######################################################*/
.logo{
    width:40px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth;
}
ul, nav {
    list-style: none;
    
}
a {
	text-decoration: none;
	color: inherit;
	opacity: 0.9;
    font-weight: bold;
}
a:hover {
    opacity: 3;
    cursor: pointer;
}
a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196f3;
    font-weight: 800;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    padding: 120px 0px;
 
}

@media (max-width: 1000px){
	section{
		padding: 20px 0px;
	}
}



ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*header*/

header {
    position: relative;
    top: 0;
    left: 0;

    z-index: 2;
    width: 100%;
    height:45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 0px 10px 0 ;
    background-color: #57bfff;

}
header h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold

}

header nav {
    display: flex;
}
/*##############################  DYLAND  ######################################################*/




/*##############################  ERICK   ######################################################*/

header nav li {
    margin: 0px 20px;
   
}
header nav li:first-child {
    margin-left:0; 
}
header nav li:last-child {
    margin-right: 0px;
}

header nav li a
{
    font-family: sans-serif;

    font-weight:600;
    font-size: 14px;

}

header nav li a:hover
{   color:#171717;
    font-size: 14px;
    font-weight: 600;


}
header h2 img {

    width: 50px;
    max-width: 50px;
    vertical-align: middle;
    
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    
    
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}




@media(max-width: 750px){
    header nav li a {
        font-size: 10px;
    }
    header nav li a {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: -15px;
        padding-right: -15px;

    }
    header nav li:first-child {
        margin-left:10px;
    }
    header nav li:last-child {
        margin-right: 10px;
    }
}

@media(max-width: 1000px){
    header {
        padding: 1px 40px;
    }
}

@media(max-width:1300px){
    header{
        flex-direction: column;
    }
    header nav li {
        margin-bottom: 20px;
    }
}


/*##############################  ERICK   ######################################################*/



 /*##############################  MARX    ######################################################*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    align-items: center;
    margin:0;
}

.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-size: cover;
    background-color: #2196f3;
    z-index: 0;
	justify-content: center;
    align-items: center;
}
.hero .background-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.20;
	
}
.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin: 5px;
    padding: 5px;
    z-index: 2;
}
.hero h2{
    font: bold 60px 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(240, 139, 8);
    border-radius: 12px;
    padding: 15px 40px;
    margin-top: 20px;
    z-index: 2;
}
.hero img {
    z-index: 4;
    width: 550px;
}
@media (max-width: 800px){
    .hero .background-image {
        width: 450px;
		height: 435px;
		background-size: 900px, 650px;
    }
	.hero .background-image:after {
        width: 450px;
		height: 435px;
    }
    .hero h1 {
        font-size: 15px;
		padding-top: -50px;
		margin-top: -50px;
    }
    .hero h2{
        padding-bottom: 20px;
		margin-bottom: 0px;
    }
	.hero img {
		width: 250px;
	}
}
@media (max-width: 550px){
    
}

.video{
    background-color: #57BFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 0;
    padding-top: 50px;
    padding-bottom: 35px;
}

.video .background-image{
    /* position: absolute;*/
     top: 0;
     left: 0;
     width:100%;
     height: 560px;
     background-size:cover;
     background-color: #414a4f;
     margin:0;
 }
 .video .background-image:after{
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 560px;  

 }

 /*##############################  MARX    ######################################################*/





